
@import url('http://fonts.cdnfonts.com/css/francois-one');





.hero-image {
    background-image: url(images/cactus.png);
    min-width: 100%;
    height: 100vh;
}

.blog-title {
    color: black;
    
}

li:hover {
    transform: scale(1.1);
    transition-duration: 200ms;
}


body {
    background-color: azure;
}

button:hover {
    transform: scale(1.05);
    transition-duration: 250ms;
}

.me {
    border-radius: 50%;
}



.section1 {
    background-color: aliceblue;
}
.section3 {
    background-color: white;
}

.section2 {
    background-color: aliceblue;
}

.icon1 {
    font-size: 2rem;
    color: black;
}

.icon1:hover {
    color: blueviolet;
}

.icon2 {
    font-size: 2rem;
    color: black;
}

.icon2:hover {
    color: lightskyblue;
}



.fade-in-image {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
